
<body id="top">
<div id="mainImg">
	<img src="/assets/photo1.jpg" width="333" height="333" alt="">
</div>

<!-- MESSAGE -->
<section id="sec01">
	<header>
		<h2 class="logo"><span class="logo">Message</span></h2>
	</header>
	<div class="innerS", style="font-size:x-small;font-weight:500;">
		ちかごろ世間で日本歴史の科学的研究ということがしきりに叫ばれている。科学的研究というのが近代史学の学問的方法による研究という意義であるならば、これは史学の学徒の間においては一般に行われていることであるから、今さらこと新しくいうには及ばないはずである。上にいったようなことがらについては、曖昧あいまいな態度をとり、または真実でない知識を強いて注入していたことも、明かな事実である。
	</div>
</section>
<!-- // MESSAGE -->

<!-- GALLERY -->
<section id="sec02">
	<header>
		<h2><span></span></h2>
	</header>
	<ul id="gallery">
    	<img src="/assets/photo2.jpg" width="333" height="333" alt="">
		<!-- <li><img src="/assets/photo1.jpg" width="426" height="418" alt=""></li>
		<li><img src="/assets/photo2.jpg" width="426" height="418" alt=""></li>
		<li><img src="/assets/photo3.jpg" width="426" height="418" alt=""></li>
		<li><img src="images/photo04.jpg" width="426" height="418" alt=""></li>
		<li><img src="images/photo05.jpg" width="426" height="418" alt=""></li>
		<li><img src="images/photo06.jpg" width="426" height="418" alt=""></li>
		<li><img src="images/photo07.jpg" width="426" height="418" alt=""></li>
		<li><img src="images/photo08.jpg" width="426" height="418" alt=""></li>
		<li><img src="images/photo09.jpg" width="426" height="418" alt=""></li> -->
	</ul>
</section>
<!-- // GALLERY -->

<!-- PROJECT -->
<section id="sec03">
	<header>
		<h2 class="logo"><span class="logo">Project</span></h2>
	</header>
	<div class="innerS">
		<img src="/assets/photo3.jpg" style="width:80%;display:block;margin:auto;" alt="">
		<p, style="font-size:x-small;font-weight:500;width:80%;display:block;margin:auto;d">ちかごろ世間で日本歴史の今さらこと新しくいうには科学的研究ということがしきりに叫ばれているということがしきりに叫ばれている。科学的研究というのが近代史学の学問的方法による研究という意義であるならば、これは史学の学徒の間においては一般に行われていることであるから、今さらこと新しくいうには及ばないはずである。科学的研究というのが近代史学の学問的方法によるちかごろ世間で日本歴史の科学的研究及ばないはずである。</p>
	</div>
</section>
<!-- // PROJECT -->

<img src="images/subImg.jpg" alt="">



</body>
