
<!-- コンテンツを一旦仮置きする -->
<div class="first-block">

  <font size="7" ,="," style="position:fixed; ">

    <br>
    <h5>Livelyであなたの音楽生活をより充実させたものにしましょう</h5>

    <br>
    <%= link_to "日程からイベントを探す", events_path %>
    <br>
    <%= link_to "バンド・アーティストを探す", artists_path %>
  </font>
</div>

<%= notice %>
