
<body id="top">
<div id="mainImg">
	<img src="/assets/photo1.jpg" width="333" height="333" alt="">
</div>

<!-- MESSAGE -->
<section id="sec01">
	<header>
		<h2 class="logo"><span class="logo">Message</span></h2>
	</header>
	<div class="innerS", style="font-size:x-small;color: #5d627b;font-weight:500;">
		世の中には様々な音楽があり、知られていなくても、クオリティの高く、かっこいい音楽がたくさんあります。そんな音楽を届けたい。音楽の価値を届けたい。全国にかっこいい音楽を届けたい。音楽を届けるバンド、アーティストがもっと活動できるようにしたい。そんな思いでLivelyは作られました。
	</div>
</section>
<!-- // MESSAGE -->

<!-- GALLERY -->
<section id="sec02">
	<header>
		<h2><span></span></h2>
	</header>
	<ul id="gallery">
    	<img src="/assets/photo2.jpg" width="333" height="333" alt="">
		<!-- <li><img src="/assets/photo1.jpg" width="426" height="418" alt=""></li>
		<li><img src="/assets/photo2.jpg" width="426" height="418" alt=""></li>
		<li><img src="/assets/photo3.jpg" width="426" height="418" alt=""></li>
		<li><img src="images/photo04.jpg" width="426" height="418" alt=""></li>
		<li><img src="images/photo05.jpg" width="426" height="418" alt=""></li>
		<li><img src="images/photo06.jpg" width="426" height="418" alt=""></li>
		<li><img src="images/photo07.jpg" width="426" height="418" alt=""></li>
		<li><img src="images/photo08.jpg" width="426" height="418" alt=""></li>
		<li><img src="images/photo09.jpg" width="426" height="418" alt=""></li> -->
	</ul>
</section>
<!-- // GALLERY -->

<!-- PROJECT -->
<section id="sec03">
	<header>
		<h2 class="logo"><span class="logo">Project</span></h2>
	</header>
	<div class="innerS">
		<img src="/assets/photo3.jpg" style="width:80%;display:block;margin:auto;" alt="">
		<p, style="font-size:x-small;color: #5d627b;font-weight:500;width:80%;display:block;margin:auto;d">Livelyはすべてのアマチュアアーティストと、すべての音楽好きをつなぐ新たなWebサービスです。バンドはライブを投稿することでライブ予定をマイカレンダーにまとめることができます。これをツイートすると、わかりやすライブの宣伝を行うことができます。
ユーザーは気に入ったバンドをフォローすることができます。フォローしたバンドのライブ予定はマイカレンダーにまとめることができ、フォローしたバンドがいつライブをするのかを一目で把握することができます。</p>
	</div>
</section>
<!-- // PROJECT -->

<!-- <img src="images/subImg.jpg" alt=""> -->



</body>
