<body id="top">
	<div class="content">
		<div id="mainImg">
			<img src="/assets/photo1.jpg" width="333" height="333" alt="">
		</div>

		<!-- MESSAGE -->
		<section id="sec01">
			<header>
				<h2 class="logo"><span class="logo">Message</span></h2>
			</header>
			<div class="innerS">
				世の中には様々な音楽があり、クオリティが高く、かっこいい音楽がたくさんあります。そんな音楽を届けたい。音楽の価値を届けたい。全国にかっこいい音楽を届けたい。音楽を届けるバンド、アーティストがもっと活動できるようにしたい。そんな想いでLivelyは作られました。
			</div>
		</section>
		<!-- // MESSAGE -->

		<!-- GALLERY -->
		<section id="sec02">
			<header>
				<h2><span></span></h2>
			</header>
			<ul id="gallery">
					<img src="/assets/photo2.jpg" width="333" height="333" alt="">
			</ul>
		</section>
		<!-- // GALLERY -->

		<!-- PROJECT -->
		<section id="sec03">
			<header>
				<h2 class="logo"><span class="logo">Project</span></h2>
			</header>
			<div class="innerS">
				<img src="/assets/photo3.jpg" style="width:80%;display:block;margin:auto;" alt="">
				<p style="width:80%;margin:auto;">
					Livelyはすべてのアマチュアアーティストと、すべての音楽好きをつなぐ新たなWebサービスです。
					<br>
					バンドはライブを投稿することでライブ予定をマイカレンダーにまとめることができます。これをツイートすると、わかりやすくライブの宣伝を行うことができます。ユーザーは気に入ったバンドをフォローすることができます。
					<br>
					フォローしたバンドのライブ予定はマイカレンダーにまとめることができ、フォローしたバンドがいつライブをするのかを一目で把握することができます。
				</p>
			</div>
		</section>
		<!-- // PROJECT -->

		<img src="/assets/photo4.jpg" alt="">
	</div>

</body>
