<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>p5.js Introduction</title>

    <!-- p5.jsの読み込み -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/p5.min.js"></script>
    <link href="//db.onlinewebfonts.com/c/c86abc4b774e61b89f5489f0703aafac?family=Trade+Gothic" rel="stylesheet" type="text/css"/>
</head>
<body>
  <body>

  <!--  コンテンツを一旦仮置きする  -->
    <div class="first-block" >
      <script src="home.js">
          //この部分にプログラムを書いていきます。
      </script>

      <font size="7" , style="position:fixed; ">

        <br>
      <h6>Livelyであなたの音楽生活をより生き生きと、充実させたものにしましょう</h6>


        <br>
        <%= link_to "日程からイベントを探す", events_path %>
        <br><br><br><br><br>
        <%= link_to "バンド・アーティストを探す", artists_path %>
      </font>
    </div>




</html>
