// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


input#search{
  // margin: 0;
  // border-radius: 3px;
  // box-shadow: none;
  background-color: #fff;
  border: 1px solid #ccc;
  color: rgba(0,0,0,.75);
  // display: none;
  // display: block;
  // font-family: inherit;
  // font-size: .875rem;
  // padding: .5rem;
  width: 100%;
  // box-sizing: border-box;
  // transition: border-color .15s linear,background .15s linear;
}
input#date{
  // margin: 0;
  // border-radius: 3px;
  // box-shadow: none;
  background-color: #fff;
  border: 1px solid #ccc;
  color: rgba(0,0,0,.75);
  // display: block;
  // font-family: inherit;
  // font-size: .875rem;
  // padding: .5rem;
  // box-sizing: border-box;
  // transition: border-color .15s linear,background .15s linear;
}
input.search{
  display: none;

}
input[type="button"]{
  // display: block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #FFF;
  background:#585858;
  border: solid 2px #585858;
  border-radius: 3px;
  transition: .4s;
}
input[type="button"]:active{
  background: #FFF;
  color: black;
}
input[type="submit"] {
  // display: block;
  font-size: 0.875rem;
line-height: 1.5;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #FFF;
  background:#585858;
  border: solid 2px #585858;
  border-radius: 3px;
  transition: .4s;
}
input[type="submit"]:active{
  font-size: 0.875rem;
line-height: 1.5;
  background: #FFF;
  color: black;
}
