// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#footer{
  height: 120px;
  width: 100%;
   background-color: #5ebaba;
   color: #fff;
   text-align: center;
   position: fixed;
   bottom: 0; /*下に固定*/
}
img#profile{
  text-align: left;
  height: 50px;
  width:50px;
  border-radius:50px;
  border-width: 1px;
  border-color: gray;
  object-fit: cover;
}
div#user_name{
    display: inline;
    margin-right: 5px;
    font-size: 2rem;
    font-family: fantasy;
    font-weight: 600;
  }
div#change_name{
   display: inline;
   text-align: right;
   font-size: 1.5rem
   }
